---
---
@import "{{ site.theme }}";

html, header, body, h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif !important;
  }

header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #275da1;
}
  
#main-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 2.8em;
    font-weight: normal;
    color: #474747;
    text-indent: 6px;
    letter-spacing: -1px;
  }
  
  #main-content h1:before {
    padding-right: 0.3em;
    margin-left: -0.9em;
    color: #9ddcff;
    content: "";
  }
  

  #main-content h2 {
    margin-bottom: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    font-weight: bold;
    color: #474747;
    text-indent: 4px;
  }
  #main-content h2:before {
    padding-right: 0.3em;
    margin-left: -1.5em;
    content: "";
  }
  
  #main-content h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px;
  }
  
  #main-content h3:before {
    padding-right: 0.3em;
    margin-left: -2em;
    content: "";
  }
  
  #main-content h4 {
    margin-bottom: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px;
  }
  
  h4:before {
    padding-right: 0.3em;
    margin-left: -2.8em;
    content: "";
    color: #9ddcff;
  }
  
  #main-content h5 {
    margin-bottom: 8px;
    font-family:'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 14px;
    color: #474747;
    text-indent: 3px;
  }
  h5:before {
    padding-right: 0.3em;
    margin-left: -3.2em;
    color: #9ddcff;
    content: "";
  }
  
  #main-content h6 {
    margin-bottom: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: .8em;
    color: #474747;
    text-indent: 3px;
  }
  h6:before {
    padding-right: 0.3em;
    margin-left: -3.7em;
    color: #9ddcff;
    content: "";
  }
  