---
---

@import "{{ site.theme }}";

html,
header,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Arial, Helvetica, sans-serif !important;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 1%;
  text-align: left;
  font-size: 14px;
}

tr {
  color: rgb(25, 28, 30);
  font-size: 24px;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  background: #2e7bcf url(../../Assests/BdPDesignHeader.png) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
header .inner h2 {
  color: white;
  font-weight: normal;
  width: auto;
  padding-top: 20px;
  font-size: 23px;
  text-align: center;
}

header .inner h1 {
  text-align: center;
  font-size: 48px;
  width: auto;
}

div.inner {
  position: relative;
  width: auto;
  margin: 0 auto;
}

section#main-content {
  float: left;
  width: auto;
}

#main-content h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 2.8em;
  font-weight: normal;
  color: rgb(25, 28, 30);
  text-indent: 20px;
  letter-spacing: -1px;
}

#main-content h1:before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #9ddcff;
  content: "";
}

#main-content h2 {
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  color: rgb(25, 28, 30);
  text-indent: 26px;
  font-weight: normal;
  width: auto;
  padding-top: 20px;
  font-size: 23px;
}

#main-content h2#proporciona-estándares-claros-orientación-y-herramientas-que-ayudan-a-los-equipos-a-trabajar-juntos-de-manera-más-eficiente-y-construir-mejores-experiencias-de-usuario{
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  color: rgb(25, 28, 30);
  text-indent: 26px;
  font-weight: normal;
  width: auto;
  padding-top: 20px;
  font-size: 23px;
  text-align: center;
}

h2#analisis, h2#primarios, h2#secundarios, h2#terciarios, h2#tintes-2, h2#alertas,h2#mejores-prácticas, h2#accesibilidadm h2#jerarquía-de-colores, h2#pautas-adicionales, h2#referencias {
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  color: rgb(25, 28, 30);
  text-indent: 26px;
  font-weight: normal;
  width: auto;
  padding-top: 20px;
  font-size: 23px;
  text-align: left;
}
#main-content h2:before {
  padding-right: 0.3em;
  margin-left: -1.5em;
  content: "";
}

#main-content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(25, 28, 30);
  text-indent: 3px;
}

#main-content h3:before {
  padding-right: 0.3em;
  margin-left: -2em;
  content: "";
}

#main-content h4 {
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(25, 28, 30);
  text-indent: 3px;
}

h4:before {
  padding-right: 0.3em;
  margin-left: -2.8em;
  content: "";
  color: #9ddcff;
}

#main-content h5 {
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 14px;
  color: rgb(25, 28, 30);
  text-indent: 3px;
}
h5:before {
  padding-right: 0.3em;
  margin-left: -3.2em;
  color: #9ddcff;
  content: "";
}

#main-content h6 {
  margin-bottom: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 0.8em;
  color: rgb(25, 28, 30);
  text-indent: 3px;
}
h6:before {
  padding-right: 0.3em;
  margin-left: -3.7em;
  color: #9ddcff;
  content: "";
}

#main-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#content-wrapper {
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 30px;
  border-top: solid 1px #fff;
}
